# Node / frontend
node_modules/
dist/
/.vite
/vite.config.d.ts
/vite.config.js

# Tauri / Rust
target/
src-tauri/target/
src-rust-crates/**/target/

# OS / misc
.DS_Store
npm-debug.log*
.env
.env.*

# Logs
*.log

/.vscode
/.idea
/node_modules